node_modules/
*.local
.env
.env.local
.env.*.local
.DS_Store
/build
/dist
/functions/node_modules/
/functions/index.js
/functions/.env 
/functions/.env.local
/functions/.env.*.local
/functions/.DS_Store
/functions/build
/functions/dist
/.firebase/
/.firebaserc
/.history/